language = "bash"
#run = "python ./bronze_2021/single_breed/single.py"
#run = "python ./bronze_2021/temperature/temperature.py"
#run = "python ./bronze_2021/dis_path/distinct_path.py"
#run = "python ./silver_2021/convolutedintervals/intrv.py"
#run = "python ./silver_2021/connectingtwobarns/barns.py"
#run = "python ./training_2.4_3_cowtour/cowtour.py"

#how to run cpp file
#run="clang++ -std=c++2a ./training_2.4_3_cowtour/cowtour.cpp -o ./cowtour.o  && ./cowtour.o && rm ./cowtour.o"
#run="clang++ -std=c++2a ./training_2.4_4_comehome/comehome.cpp -o ./comehome.o  && ./comehome.o && rm ./comehome.o"
#run="clang++ -std=c++2a ./training_2.4_5_fracdec/fracdec.cpp -o ./fracdec.o  && ./fracdec.o && rm ./fracdec.o"
#run="clang++ -std=c++2a ./training_3.1_1_agrinet/agrinet.cpp -o ./agrinet.o  && ./agrinet.o && rm ./agrinet.o"
#run="clang++ -std=c++2a ./training_3.1_2_inflate/inflate.cpp -o ./inflate.o  && ./inflate.o && rm ./inflate.o"
#run="clang++ -std=c++2a ./silver_2021/soulmates/soulmates.cpp -o ./soulmates.o  && ./soulmates.o && rm ./soulmates.o"
#run="clang++ -std=c++2a ./silver_2021/frisbee/frisbee.cpp -o ./frisbee.o  && ./frisbee.o && rm ./frisbee.o"
run="clang++ -std=c++2a ./silver_2021/cereal2/cereal2.cpp -o ./cereal2.o  && ./cereal2.o && rm ./cereal2.o"
#run = "ls -l"